@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #4FC0FD;
    --text-color: #ffff;
    --bg-color: #000000;
    --btn-color:#FF9D00;
}

.adminpage{
    width: 100%;
    height: fit-content;
    background-color: #ffff;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul{
    width: 248px;
    height: 238px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;
}

.menu ul li{
    display: flex;
    width: 248px;
    height: 230px;
    text-align: center;
    border-radius: 25px;
    box-shadow:  0 0.3rem 1rem 0 #D0CECE;
}
.menu ul li .buyernav{
    border-radius: 25px;;
    border-style: solid;
    border-color: #FF9D00;
}
.menu ul li i{
    width: 248px;
    height: 280px;
    padding-bottom: 1000px;
    font-size: 75px;
    font-weight: 600;
}

.menu ul li a{
    padding-top: 70px;
    width: 248px;
    display: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--btn-color);
    align-items: center;
    justify-content: center;
}

.menu ul li:hover{
    background-color: var(--btn-color);
}

.menu ul li a:hover{
    color: var(--text-color);
}

.toggle-navbar {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    /* justify-content: space-between; */
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 45%;
    margin-bottom: 30px;
    color: #0000;
    background-color: #ffff;
  }
  
  .toggle-option {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #0000;
    transition: background-color 0.3s ease;
    color: #000000;
  }
  
  .toggle-option.active {
    background-color: #FF9D00;
    color: #fff;
  }
  
  .toggle-option:not(.active):hover {
    background-color: #0000;
  }
  