:root{
    --main-color: #4FC0FD;
    --text-color: #ffff;
    --bg-color: #000000;
    --btn-color:#FF9D00;
}

.todayofferText{
    padding-left: 15px;
}

.slider-todayoffer-container{
    width: 100%;
    padding-top: 50px;
    /* padding-left: 30px; */
}
.carousel-todayoffer{
    margin-left: 10%;
    padding-right: 20px;
}

.carousel-todayoffer img{
    height: 180px;
}

.carousel-todayoffer-text{
    font-size: 20px;
    width: fit-content;
    text-align: center;
    margin-top: 15px;
    margin-left: 10%;
}

.button-todayoffer{
    border-style: none;
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: 15px;
    width: 181px;
    height: 33px;
    margin-top: 15px;
    cursor: pointer;
}