:root{
    --main-color: #4FC0FD;
    --text-color: #ffff;
    --bg-color: #000000;
    --btn-color:#FF9D00;
}


.slider-foryou-container{
    padding-top: 50px;
}

.carousel-foryou img{
    margin-left: 15%;
    width: 283px;
    height: 180px;
}
.carousel-foryou-text{
    width: fit-content;
    text-align: center;
    padding-top: 15px;
    margin-left: 28%;
}


.carousel-foryou-text button{
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: 15px;
    width: 181px;
    height: 33px;
}