:root{
    --main-color: #4FC0FD;
    --text-color: #ffff;
    --bg-color: #000000;
    --btn-color:#FF9D00;
}

.bestofferText{
    padding-left: 15px;
}

.slider-bestoffer-container{
    width: 100%;
    padding-top: 25px;
}
.carousel-bestoffer{

    margin-left: 10%;
    padding-right: 20px;
}

.carousel-bestoffer img{
    height: 180px;
}

.carousel-bestoffer-text{
    font-size: 20px;
    width: fit-content;
    text-align: center;
    margin-top: 15px;
    margin-left: 25%;
}



.button-bestoffer{
    border-style: none;
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 7%;
    width: 181px;
    height: 33px;
    cursor: pointer;
}

.image-container {
    position: relative;
    width: 100%;
  }
  
  .food-image {
    height: 180px;
    transition: filter 0.3s;
  }
  
  .food-image.blur {
    filter: blur(4px);
  }
  
  .order-button:hover, .confirm-button:hover {
    background-color: #d97706;
  }
  
  .quantity-selector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quantity-button {
    background-color: #e5e5e5;
    border: none;
    padding: 10px;
    font-size: 1.2em;
    margin: 0 5px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .quantity-number {
    font-size: 1.2em;
    margin: 0 10px;
  }