.foryouText{
    padding-left: 20px;
}

.slider-foryou-container{
    padding-top: 20px;
    width: 100%;
    align-items: center; 
    justify-content: center;
    padding-right: 20px;
}

.slider-bestoffer{
    align-items: center;
    justify-content: center;
  }
.carousel-bestoffer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 20px;
    margin-top: 15px;
}

.button-foryou{
    border-style: none;
    background-color: #FF9D00;
    color: var(--text-color);
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 20%;
    width: 181px;
    height: 33px;
    cursor: pointer;
}

.food-drink-dessert-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-drink-dessert-image{
    margin-left: 10%;
    height: 180px;
    transition: filter 0.3s;
}

.food-drink-dessert-image.blur {
    filter: blur(4px);
}

.order-button:hover, .confirm-button:hover {
    background-color: #d97706;
}

.quantity-selector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-button {
    background-color: #e5e5e5;
    border: none;
    padding: 10px;
    font-size: 1.2em;
    margin: 0 5px;
    border-radius: 8px;
    cursor: pointer;
}

.quantity-number {
    font-size: 2rem;
    margin: 0 10px;
}