:root{
    --main-color: #4FC0FD;
    --text-color: #ffff;
    --bg-color: #000000;
    --btn-color:#FF9D00;
}

.bestofferText{
    padding-left: 15px;
}

.slider-bestoffer-container{
    width: 100%;
    padding-top: 25px;
}
.carousel-bestoffer{
    margin-left: 10%;
    padding-right: 20px;
}

.carousel-bestoffer img{
    height: 180px;
    justify-content: center;
}

.carousel-bestoffer-text{
    font-size: 20px;
    width: fit-content;
    text-align: center;
    margin-left: 10%;
}



.button-bestoffer{
    border-style: none;
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: 15px;
    width: 181px;
    height: 33px;
    cursor: pointer;
}