@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
} */

:root{
    --main-color: #4FC0FD;
    --text-color: #ffff;
    --bg-color: #000000;
    --btn-color:#FF9D00;
}


.dashboard{
    background-color: var(--text-color);
    width: 100%;
    align-items: center;
}

.navmenu{
    display: flex;
    justify-content: space-around;
}

/* Menu Navbar */

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul{
    width: 248px;
    height: 238px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
    gap: 20px;
}

.menu ul li{
    display: flex;
    width: 248px;
    height: 230px;
    text-align: center;
    border-radius: 25px;
    box-shadow:  0 0.3rem 1rem 0 #D0CECE;
}

.menu ul li a{
    padding-top: 70px;
    width: 248px;
    display: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--btn-color);
    align-items: center;
    justify-content: center;
}

.menu ul li:hover{
    background-color: var(--btn-color);
}

.menu ul li a:hover{
    color: var(--text-color);
}