:root{
    --main-color: #4FC0FD;
    --text-color: #ffff;
    --bg-color: #000000;
    --btn-color:#FF9D00;
}

.dessertpage{
    width: 100%;
    height: fit-content;
    background: #ffff;
}

.selector-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* Menggunakan nama class baru */
.menu-button {
    width: 180px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    border-style: none;
    z-index: 1;
    box-shadow:  0 0.3rem 1rem 0 #D0CECE;
    transition: background-color 0.3s ease;
}

.menu-button.active {
    pointer-events: none;
    background-color: orange; /* Warna latar belakang untuk tombol aktif */
    color: white; /* Warna teks untuk tombol aktif */
    z-index: 2; /* Agar tombol aktif berada di depan */
  }
/* Gaya untuk tombol yang tidak aktif */
.menu-button.inactive {
    background-color: white;
    color: #000000;
}

.menu-button:hover {
    background-color: darkorange;
    color: white;
}
  
/* .selector-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
} */
