:root{
    --main-color: #4FC0FD;
    --text-color: #ffff;
    --bg-color: #000000;
    --btn-color:#FF9D00;
}

.dessertpage{
    width: 100%;
    height: fit-content;
    background: #ffff;
}

.selector-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-left: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    border-style: none;
    border-radius: 25px; /* Membuat ujung tombol bulat */
    background-color: #fff;
    box-shadow:  0 0.3rem 1rem 0 #D0CECE;
    cursor: pointer;
    font-weight: bold;
    z-index: 1;
    position: relative;
    transition: color 0.3s, z-index 0.4s ease, transform 0.4s ease, background-color 0.4s ease; /* Tambah transisi warna background */
}

.meals-btn {
    /* margin-right: -1px; Menyebabkan tumpang tindih ke kanan */
    z-index: 3;

}

.drink-btn {
    margin-left: -1px; /* Menyebabkan tumpang tindih ke kiri */
    margin-right: -1px; /* Menyebabkan tumpang tindih ke kanan */
    z-index: 2;
}

.dessert-btn {
    /* margin-left: -5px; Menyebabkan tumpang tindih ke kiri */
    z-index: 1;
}

.btn:hover {
    background-color: #FF9D00;
    color: #fff;
    transition: 0.3s;

}

.active-bg {
    position: absolute;
    width: 160px;
    height: 50px;
    border-radius: 25px;
    background-color: #ff9d00;
    transition: all 0.4s ease;
    z-index: 1;
  }
  
  .meals-active {
    left: calc(50% - 280px); /* Posisi untuk tombol Meals */
  }
  
  .drink-active {
    left: calc(54.5% - 170px); /* Posisi untuk tombol Drink */
  }
  
  .dessert-active {
    left: 53%; /* Posisi untuk tombol Dessert */
  }
  
  /* Hover untuk efek saat disentuh */
  .btn:hover {
    color: #fff;
  }
  
  .btn.active {
    /* z-index: 3;
    transform: scale(1.2); */
    background-color: #FF9D00;
    color: #fff;
    pointer-events: none;
  }
  

/* .menubar-dessert{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menubar-dessert ul{
    width: 248px;
    height: 238px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
    gap: 20px;
}

.menubar-dessert ul li{
    display: flex;
    width: 248px;
    height: 230px;
    text-align: center;
    border-radius: 25px;
    box-shadow:  0 0.3rem 1rem 0 #D0CECE;
}
.menubar-dessert ul li .dessertnav{
    border-radius: 25px;;
    border-style: solid;
    border-color: #FF9D00;
}
.menubar-dessert ul li i{
    width: 248px;
    height: 280px;
    padding-bottom: 1000px;
    font-size: 75px;
    font-weight: 600;
}

.menubar-dessert ul li a{
    padding-top: 70px;
    width: 248px;
    display: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--btn-color);
    align-items: center;
    justify-content: center;
}

.menubar-dessert ul li:hover{
    background-color: var(--btn-color);
}

.menubar-dessert ul li a:hover{
    color: var(--text-color);
} */