
.Footer {
  margin-top: 3.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70%;
  padding: 10px 0;
  width: 100%;
  background-color: #2E7ADD;
  color: white;
  text-align: center;
}

.footerText{
  padding: 30px;
  text-align: center;
  font-size: 10px;
}

