:root{
    --main-color: #4FC0FD;
    --text-color: #ffff;
    --bg-color: #000000;
    --btn-color:#FF9D00;
}

.Footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: #2E7ADD;
    color: #ffff;
}

.footerText{
    padding-top: 3rem;
    padding-left: 20px;
    text-align: center;
    font-size: 10px;
}
