
.Footer{
    width: 100%;
    margin-top: 50px;
    align-items: center ;
    display: flex;
    justify-content: space-between;
    height: 90px;
    background: #2E7ADD;
    color: #ffff;
}

.footerText{
    padding: 30px;
    text-align: center;
    font-size: 10px;
}

