.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2E7ADD;
    box-sizing: border-box;
    width: 100%;
}

.header-user{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Kontainer dengan lebar maksimal agar elemen tidak menyebar */
}

.logo-text{
    cursor: pointer;
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
}

.logo span{
    color: #FF9D00;
}

.search-bar-container{
    flex-grow: 1; /* Membuat search bar mengisi ruang kosong */
    display: flex;
    justify-content: center;
}
.search-box{
    position: relative;
    width: 100%;
    max-width: 500px; /* Membatasi lebar maksimum search bar */
}


#input-search-box{
    margin-left: 25%;
    width: 100%;
    padding: 5px;
    padding-right: 40px;
    padding-left: 20px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.search-icon{
    position: absolute;
    right: 10px;
    top: 5%;
    transform: translateY(-50%);
    transform: translateX(400%);
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.logo-cart-box{
    /* object-fit: cover; */
}
.logo-cart{
    color: white;

}

.logo-cart:hover{
    color: #FF9D00;
}


