.header-admin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #2E7ADD;
}

.logo-admin{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.logo-text-span{
    color: #FF9D00;
}

.search-box-admin{
    margin-left: 300px;
    margin-right: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

#input-box-admin{
    margin-right: 25px;
    width: 550px;
    padding: 5px;
    padding-left: 20px;
    font-size: 14px;
    border-radius: 20px;
    border-style: none;
}

.search-icon-admin{
    cursor: pointer;
    transform: translateX(-400%);
    background-color: transparent;
    border-style: none;
}
