.header-seller{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #2E7ADD;
    gap: 28%;
}

.logo-text{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    /* margin-right: 200px; */
}

.logo-text-span{
    color: #FF9D00;
}

.header-middle{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 100px;
}

