
.header-container{
    width: 100%; /* Menggunakan lebar penuh layar */
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 65px;
    background-color: #2E7ADD;
    border-radius: 0 0 15px 15px;
}

.header{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-around;
}


.logo span{
    color: #FF9D00;
}

.logo{
    margin-top: 15px;
    display: flex;
    font-size: 24px;
    font-weight: 800;
    color: #000000;
    text-decoration: none;
}

.search-box{
    width: 527px;
    background: #ffff;
    margin-left: 45%;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    border-radius: 25px;

}

.row{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

#input-box{
    margin-top: 3px;
    padding-left: 25px;
    flex: 1;
    border-style: none;
    outline: 0;
}

.search-icon{
    background: transparent;
    border-style: none;
    padding-top: 3px;
    align-items: center;
    cursor: pointer;
    padding-left: 140px;
    font-size: 16px;
}

/* .result-box ul{
    border-top: 1 solid #999;
    padding: 15px 10px;
}

.result-box ul{
    list-style: none;
    border-radius: 3px;

    padding: 15px 10px;
    cursor: pointer;
} */

.logo-cart-box{
    display: flex;
    border-style: none;
    margin-left: 50%;
    padding-top: 10px;
}
.logo-cart{
    width: 34px;
    height: 35px;
    font-size: 30px;
    cursor: pointer;
}

.logo-cart{
    color: white;
}

.logo-cart:hover{
    color: #FF9D00;
}

