/* .history-buyer-container {
    background: #ffff;
    /* border: 1px solid #ddd; */
    /* border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .history-buyer-page {
    text-align: left;
    margin-bottom: 20px;
  }
  .history-buyer-title{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-weight: bold;
  }
  .history-buyer-date {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .history-buyer-table {
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-bottom: 2%;
  }
  
  .history-buyer-table th,
  .history-buyer-table td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
  }
  
  .history-buyer-table th {
    font-weight: bold;
    /* background-color: #f2f2f2;
  }
  
  .history-buyer-item {
    display: flex;
    align-items: center;
  }
  
  .history-buyer-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .history-buyer-request {
    font-size: 12px;
    color: #777;
  }
  
  .history-buyer-quantity {
    text-align: center;
  }
  
  .history-buyer-price,
  .history-buyer-value {
    text-align: right;
  }
  
  .history-buyer-divider {
    border-top: 2px solid green;
    height: 2px;
  }
  
  .divider-row td {
    padding: 0;
  }

  .row-details{
    border-bottom: solid;
  }

  .history-buyer-status-label,
.history-buyer-label {
    text-align: right;
    font-weight: bold;
}
.history-buyer-status {
  font-weight: bold;
  color: red;
}
 */
