:root{
    --main-color: #4FC0FD;
    --text-color: #ffff;
    --bg-color: #000000;
    --btn-color:#FF9D00;
}

.Mealspage{
    width: 100%;
    height: fit-content;
    background-color: #ffff;
}

.menubar-meals{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menubar-meals ul{
    width: 248px;
    height: 238px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
    gap: 20px;
}

.menubar-meals ul li{
    display: flex;
    width: 248px;
    height: 230px;
    text-align: center;
    border-radius: 25px;
    box-shadow:  0 0.3rem 1rem 0 #D0CECE;
}
.menubar-meals ul li .mealsnav{
    border-radius: 25px;;
    border-style: solid;
    border-color: #FF9D00;
}
.menubar-meals ul li i{
    width: 248px;
    height: 280px;
    padding-bottom: 1000px;
    font-size: 75px;
    font-weight: 600;
}

.menubar-meals ul li a{
    padding-top: 70px;
    width: 248px;
    display: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--btn-color);
    align-items: center;
    justify-content: center;
}

.menubar-meals ul li:hover{
    background-color: var(--btn-color);
}

.menubar-meals ul li a:hover{
    color: var(--text-color);
}