/* Tampilan overlay pop-up */
.popup-overlay-forgot-password {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Overlay background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Pastikan pop-up berada di depan */
}

/* Tampilan konten pop-up */
.popup-forgot-password {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); /* Efek bayangan */
    width: 400px; /* Lebar konten */
    max-width: 90%; /* Responsif untuk layar kecil */
    z-index: 1000;
    position: relative;
}

/* Tombol di dalam pop-up */
.button-confirm-forgot-password {
    padding: 10px 20px;
    background-color: #FF9D00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.email-forgot-password{
    padding: 8px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.close-popup-forgot-password {
    cursor: pointer;
    color: #aaa;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
}