
.product-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

/* .seller-name-booth{
    align-items: center;
    /* text-align: center  ; */
    /* vertical-align: middle; */

.sub-title{
    font-size: 14px;
}

.table-container{
    font-size: 14px;
}

.product-table th {
    border-bottom: 2px solid black;
    text-align: center;
    vertical-align: middle;
}
  
.product-table td {
    border-bottom: 1px solid #ddd;
    text-align: center; /* Center horizontally */
    vertical-align: middle; /* Center vertically */
}
  
.button-admin-booth-update{
    font-size: 13px;
    padding: 5px 10px;
    background-color: #2E7ADD;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
}
  
.button-admin-booth-delete{
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
}

.select-type {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup-overlay-update{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.138); /* Warna hitam dengan transparansi */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Pastikan overlay berada di atas elemen lain */
}

  /* Popup content */
.popup-content {
    background: #fff;
    padding: 30px; /* Perbesar padding */
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Lebih tinggi dari overlay */
    position: relative;
    width: 500px; /* Perbesar lebar pop-up */
    max-width: 90%; /* Agar responsif pada layar yang lebih kecil */
}
  
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
  
label {
    display: block;
    margin-top: 10px;
    text-align: left;
}
  
.input-update-booth-admin {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* .input-image-booth{
} */
.form-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
  /*   
  button[type="submit"] {
    background-color: #4caf50;
  } */
  
button[type="button"] {
    background-color: #f44336;
}
  
button[type="button"]:hover {
    background-color: #e53935;
}
  
.button-admin-booth-update:hover {
    background-color: rgb(2, 57, 116);
}
  
.button-admin-booth-delete:hover {
    background-color: rgb(163, 3, 3);
}