.resetPassword{
    display: flex;
    align-items: center; /* Pusat secara vertikal */
    justify-content: center; /* Pusat secara horizontal */
    min-height: 100vh; /* Tinggi viewport penuh */
    background: linear-gradient(180deg, var(--main-color), #0073e6); /* Background gradasi */
    padding: 0;
    margin: 0;
}

.wrapperResetpassword{
    width: 558px;
    height: fit-content;
    padding-bottom: 20px;
    margin: 125px auto;
    background-color: var(--text-color);
    border-radius: 25px;
    text-align: center;
    align-items: center;
}

h1{
    padding: 20px;
}

.resetText{
    margin: 5px auto;
}

.reset-password-input{
    width: 421px;
    height: 38px;
    border-radius: 25px;
    box-shadow:  0 0.3rem 1rem 0 #D0CECE;
    border-style: none;
    padding-left: 30px;
    outline: 0;
}

.button-save-cancel-password{
    border-radius: 25px;
    width: 184px;
    height: 41px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--btn-color);
    color: var(--text-color);
    font-weight: 600;
    border-style: none;
    cursor: pointer;
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 480px) {
    .resetPassword {
        height: 90%;
    }

    .wrapperResetpassword {
        width: 90%; /* Lebar penuh layar */
        padding-bottom: 20px;
        border-radius: 15px; /* Sesuaikan radius untuk ukuran lebih kecil */
    }

    h1 {
        font-size: 14px; /* Sesuaikan ukuran font untuk layar kecil */
    }

    .resetText{
        font-size: 10px !important;
    }
    .reset-password-input {
        width: 85%; /* Lebar hampir penuh */
        height: 35px;
        border-radius: 20px;
        padding-left: 20px;
    }

    .button-save-cancel-password {
        width: 90%;
        height: 40px;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }
}