.seller-booth-form-container{
    display: flex;
    align-items: center; /* Pusat secara vertikal */
    justify-content: center; /* Pusat secara horizontal */
    min-height: 100vh; /* Tinggi viewport penuh */
    background: linear-gradient(180deg, var(--main-color), #0073e6); /* Background gradasi */
    padding: 0;
    margin: 0;
}

.seller-booth-form-wrapper{
    width: fit-content;
    padding: 30px 30px 30px 30px;
    margin: 10px auto;
    background-color: var(--text-color);
    border-radius: 25px;
    text-align: center;
    align-items: center;
}

.booth-label{
    text-align: left;
    padding: 8px;
}

.booth-input{
    margin-bottom: 5%;
}

.date-booth-text{
    text-align: left;
}

.date-booth{
    width: 100%;
    padding: 8px;
    border-radius:20px;
    margin-bottom: 5%;
}

.time-open-booth-text{
    text-align: left;
}
.time-open-booth{
    padding: 8px;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
}

.time-close-booth-text{
    text-align: left;
}
.time-close-booth{
    padding: 8px;
    width: 100%;
    border-radius: 20px;
}

.submit-booth-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 184px;
    height: 41px;
    margin-top: 10%;
    margin-left: 10%;
    background-color: var(--btn-color);
    color: var(--text-color);
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}
